@font-face {
    font-family: 'Void';
    src: url('VoidMedium.eot');
    src: local('Void Medium'), local('VoidMedium'),
        url('VoidMedium.eot?#iefix') format('embedded-opentype'),
        url('VoidMedium.woff2') format('woff2'),
        url('VoidMedium.woff') format('woff'),
        url('VoidMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Void';
    src: url('VoidBold.eot');
    src: local('Void Bold'), local('VoidBold'),
        url('VoidBold.eot?#iefix') format('embedded-opentype'),
        url('VoidBold.woff2') format('woff2'),
        url('VoidBold.woff') format('woff'),
        url('VoidBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Void';
    src: url('VoidRegular.eot');
    src: local('Void Regular'), local('VoidRegular'),
        url('VoidRegular.eot?#iefix') format('embedded-opentype'),
        url('VoidRegular.woff2') format('woff2'),
        url('VoidRegular.woff') format('woff'),
        url('VoidRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Void';
    src: url('VoidSemiBold.eot');
    src: local('Void SemiBold'), local('VoidSemiBold'),
        url('VoidSemiBold.eot?#iefix') format('embedded-opentype'),
        url('VoidSemiBold.woff2') format('woff2'),
        url('VoidSemiBold.woff') format('woff'),
        url('VoidSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Void';
    src: url('VoidLight.eot');
    src: local('Void Light'), local('VoidLight'),
        url('VoidLight.eot?#iefix') format('embedded-opentype'),
        url('VoidLight.woff2') format('woff2'),
        url('VoidLight.woff') format('woff'),
        url('VoidLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Void';
    src: url('VoidLight_1.eot');
    src: local('Void Light'), local('VoidLight'),
        url('VoidLight_1.eot?#iefix') format('embedded-opentype'),
        url('VoidLight_1.woff2') format('woff2'),
        url('VoidLight_1.woff') format('woff'),
        url('VoidLight_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

