@tailwind base;
@tailwind components;
@tailwind utilities;

/* ! them color */

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Wix Madefor Display";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/wix-madefor-display-v10-latin-regular.woff2")
      format("woff2");
  }
  @font-face {
    font-display: swap;
    font-family: "Wix Madefor Display";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/wix-madefor-display-v10-latin-500.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Wix Madefor Display";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/wix-madefor-display-v10-latin-600.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Wix Madefor Display";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/wix-madefor-display-v10-latin-700.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Wix Madefor Display";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/wix-madefor-display-v10-latin-800.woff2") format("woff2");
  }

  /* @font-face {
    font-display: swap;
    font-family: "Void";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/VoidLight.woff2") format("woff2");
  } */
}

.theme {
  color: #04c3fd;
  color: #263852;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  height: 100%;
  margin: 0;
}

.bg-header {
  background: linear-gradient(
    90deg,
    #3f8ea5,
    #5fb5cf,
    white,
    #5fb5cf,
    #3f8ea5
  ) !important;
  color: white; /* Text color on the gradient background */
}

.hero-image {
  height: calc(100vh - 100px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(20px);
}

.hero-text {
  position: relative;
  z-index: 1; /* Ensure the text is on top of the blurred background */
}
.hover-box:hover {
  --tw-shadow-color: #04c3fd;
  --tw-shadow: var(--tw-shadow-colored);
}
